* {

    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color:black;
}

header, .volver {
    text-align: center;
    margin: 20px;
}

h1, h2, h3 {
    font-family: 'Teko', sans-serif;
}

.intro {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
}

.intro nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-container {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.Ejemplos {
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.Ejemplo-row{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-start;
}
.Ejemplo-column{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-start;
}

.Ejemplo-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-start;}
    
 .Ejemplo-column-reverse{      
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-start;}

.Ejemplo-flex-start{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-start;
}

.Ejemplo-center{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
}
.Ejemplo-flex-end{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-end;
}
.Ejemplo-space-between{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-end;
}
.Ejemplo-space-around{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-end;
}

.Ejemplo-space-evenly{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-end;
}
.Ejemplo-caja {
    padding: 10px;
    background-color: #d61777;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    font-weight: bold;
}
