/* RESET */

html {
    /* 62.5% of 16px user agent font size is 10px */
    font-size: 62.5%;
  }

/* FIN RESET */

h1 {
    margin: 3rem;
    font-family: "Teko", sans-serif;
    font-size: 10rem;
    text-align: center;
    text-shadow: 2px 2px 6px rgb(20, 218, 253);
    color: rgb(23, 23, 172);
}

a {
    color: bisque;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}

a:hover{
    background-color: rgb(7, 226, 255);
    color: blue;
}

.enlaces {
    margin: 0 auto;
    padding: 3rem;
    border-radius: 3rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;


    background-color: rgb(33, 138, 138);
    width: 50%;

}