* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1rem solid rgb(233, 198, 0);
    max-width: 1024px; 
}

.subtitulo{
    margin-top: 5px;
}
.Listas {
    margin-top: 15px;
    padding: 15px;
    background-color:white;
    border-radius: 8px;
    border: 1px solid #ccc;

}
.lista-ordenada{
    margin-left: 15px;
    
}
.flex-container {
    max-width: 900px;
    width: 90%;
    background-color:#fff;
    padding: 20px;
    margin:20px;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px black;
    background-color: rgb(255, 253, 157)
}


.Ejemplo-row{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-column{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;}

.Ejemplo-row-reverse{
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;}

.Ejemplo-column-reverse{      
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items:center;}
    
.Ejemplo-flex-start{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: flex-start;}
    
.Ejemplo-center{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;}

.Ejemplo-flex-end{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: center;
    justify-content: flex-end; }

.Ejemplo-space-between{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-space-around{
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }
    
.Ejemplo-space-evenly{
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    }
.Ejemplo-flex-start-vertical{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: flex-start;
    height:150px;
    border: 1rem solid red;
}

.Ejemplo-center-vertical{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items: center;
    height:150px;
    border: 1rem solid red;
}
    
.Ejemplo-flex-end-vertical{
    display: flex;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    align-items:flex-end;
    height:150px;
    border: 1rem solid red;
}
    
    
.Ejemplo-stretch-vertical{
    display: flex;
    align-items: stretch;
    height: 200px;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

 .Ejemplo-baseline{
    display: flex;
    align-items: baseline;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-nowrap{
    display: flex;
    flex-wrap:nowrap;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-wrap{
    display: flex;
    flex-wrap:wrap;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-wrap-reverse{
    display: flex;
    flex-wrap:wrap-reverse;
    margin: 10px 0;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px; }

.Ejemplo-baseline .Ejemplo-caja:nth-child(1) {
    font-size: 16px; /* Primer elemento con fuente pequeña */
    }
    
.Ejemplo-baseline .Ejemplo-caja:nth-child(2) {
    font-size: 24px; /* Segundo elemento con fuente mediana */
    }
    
.Ejemplo-baseline .Ejemplo-caja:nth-child(3) {
    font-size: 32px; /* Tercer elemento con fuente grande */
    }
.Ejemplo-caja {
    padding: 10px;
    background-color: #d61777;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    font-weight: bold;
    }

