main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }


h2 {font-family: "Teko", sans-serif;
    font-size: 2em;
    max-width: 30rem;
    margin: 2rem auto;

    text-align: center;
    line-height: 2%;
    text-shadow: 2px 2px 6px rgb(20, 218, 253);
    color: rgb(23, 23, 172);}

h3{font-size: 2.5rem;
    text-align:center;
color: blue;
font-family: 'Courier New', Courier, monospace;}

p {font-size: 2rem;
    text-align: center;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;}

div {padding: 2rem;}

section {width: 60%;
background-color: white;}
section table{width:200%;}
section td{border:2px solid black;}

article {display: flex;
        justify-content: center;}



div.tablas section {margin-left: 37.5%;}

div.volver {width: 25rem;
margin-top: 4rem;}
div.volver a {display: flex;
            justify-content: center;
           align-items: center;}

